.main{
    position: relative;
    width: 775px;
    min-height: 580px;
    margin: 20px 0;
    padding: 34px;
    border-radius: 25px;
    background-color: var(--color-light);
}
.main__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}